<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>The CavEP online platform is lovingly maintained our <a href="/team/">team of researchers</a>. </p>
      <p>The contents of this website are <br />&copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the <br /><a href="/license/">CC&nbsp;BY-SA&nbsp;4.0&nbsp;License</a>.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        CavEP is a project lead by the<br/><br/>
        <a href="https://cam.ac.uk">
          <img src="/img/cam-logo.png" width="200" alt="Univesity of Cambridge">
        </a>
       </p>
    </div>
<!--     <div class="unit two-thirds align-right center-on-mobiles">
      <p>
          Proudly hosted by
          <a href="https://github.com">
            <img src="/img/footer-logo.png" width="80" alt="GitHub • Social coding">
          </a>
        </p>
    </div> -->
  </div>
</footer>
