---
layout: news
---

<article>
  <h2>
    {{ page.title }}
    <a href="{{ page.url }}" class="header-link" title="Permalink">
      <span class="sr-only">Permalink</span>
      <i class="fa fa-link"></i>
    </a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ page.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ page.date | date_to_string }}
    </span>
    {% assign author = page.author %}
    <a href="https://github.com/{{ author }}" class="post-author">
      {% avatar user=author size=24 %}
      {{ author }}
    </a>
  </div>
  <div class="post-content">
    {{ content }}

    <div id="graphcomment"></div>
    <script type="text/javascript">
      /* - - - CONFIGURATION VARIABLES - - - */
      // make sure the id is yours
      window.gc_params = {
        graphcomment_id: 'cavep-undc',
        // if your website has a fixed header, indicate it's height in pixels
        fixed_header_height: 0,
      };
      /* - - - DON'T EDIT BELOW THIS LINE - - - */
      (function() {
        var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
        gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
      })();
    </script>

  </div>
</article>
